/* 
File Name default.css
Version 3.0
Updated 03.14.14
Package ParentTheme
License GPL v2 - http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
#################################################################################################### */

/* Reset */
@import 'reset';
@import 'bootstrap-responsive';

/* Padding */
$standard-pad: 15px;

/* Paragraph */
$font-paragraph: 'Muli', sans-serif;
$font-paragraph-size: 18px;
$font-paragraph-line-height: 28px;

/* Title */
$font-title: 'Quattrocento', serif;
$font-title-weight: 400; 
$font-title-line-height: 1.1em;

/* Block */
$max-width-a: 800px;
$max-width-b: 700px;

/*Colors*/
$color-error: red;
$color-gray-light: #f3f2f3;
$color-purple-dark: #595968;
$color-tan-light: #e8e8e4;
$color-tan: #919182;
$color-blue-light: #b2c2d9;
$color-blue-dark: #013482;

$border-color-a: #aaa;
$border-color-b: #666;

/*mixin*/
@mixin border-radius($radius) { -webkit-border-radius: $radius; -moz-border-radius: $radius; -ms-border-radius: $radius; border-radius: $radius; }
@mixin box-shadow($shadow) { box-shadow:$shadow; -moz-box-shadow:$shadow; -webkit-box-shadow:$shadow; -o-box-shadow:$shadow; }
@mixin filter-blur($filter) { filter:blur($filter); -webkit-filter:blur($filter); -moz-filter:blur($filter);-o-filter: blur(5px);-ms-filter:blur($filter); }
@mixin transition($transition) { -webkit-transition:$transition; -moz-transition:$transition; -o-transition:$transition; transition:$transition; }


body { position:relative; background:$color-gray-light; color:$color-tan; line-height:$font-paragraph-line-height; font-family:$font-paragraph; height:100%; }
#page { padding-top:($standard-pad*6); position:relative; font-size:$font-paragraph-size; height:100%; }
.outer-wrap { position:relative; height:100%; }
.inner-wrap { max-width:$max-width-a; position:relative; margin:0 auto; padding:0 $standard-pad; text-align:left; height:100%; }

a, a:visited { color:$color-blue-dark; text-decoration:none; }
a:hover { text-decoration:underline; }

.h1, h1, .h2, h2, .h3, h3, .h4, h4, .h5, h5, .h6, h6 { 
	font-family:$font-title; font-weight:$font-title-weight; display:block; line-height:$font-title-line-height; 
	color:$color-purple-dark; padding-bottom:$standard-pad; padding-top:($standard-pad/2);
	a:visited, a { color:$color-purple-dark; }
}
.h1, h1 { font-size:60px; }
.h2, h2 { font-size:50px; }
.h3, h3 { font-size:40px; }
.h4, h4 { font-size:34px; }
.h5, h5 { font-size:30px; }
.h6, h6 { font-size:25px; }



.spacer {
	line-height:0; text-align:center; height:$standard-pad; padding:($standard-pad/2) 0 ($standard-pad*2);
	position:relative; color:#fff; width:80%; margin:0 auto;
	.line { display:inline-block; height:2px; background:#fff; position:absolute; top:$standard-pad; left:0; width:100%; }
	.icon-support { position:relative; top:-5px; z-index:2; display:inline-block; font-size:30px; padding:0 $standard-pad; background:$color-gray-light; }
}
.home-section-image {
	background:no-repeat center center; border:solid 4px #fff; 
	-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
}
.img-circle-left { @include border-radius(1000px); width:150px; height:150px; }
.img-rectangle-bottom { width:100%; height:260px; }
.img-circle-bottom { @include border-radius(1000px); width:200px; height:200px; margin:0 auto; }






/* Forms
#################################################################################################### */
textarea,
input[type="text"],
input[type="password"],
input[type="email"] { 
	font-size:$font-paragraph-size !important; font-family:$font-paragraph !important; opacity:1;
	width:97%; line-height:($standard-pad*2); padding:($standard-pad/2) 1%; background:$color-tan-light; border:none;
	@include border-radius(3px); color:$color-purple-dark; @include transition(all 0.1s ease-in);
}
textarea { height:100px; }
label.error { color:$color-error; }

textarea:hover, textarea:focus,
input[type="text"]:hover,input[type="text"]:focus,
input[type="password"]:hover,input[type="password"]:focus,
input[type="email"]:hover,input[type="email"]:focus {
	opacity:0.6;
}






/* Buttons
#################################################################################################### */
.btn, a.btn,
input[type="submit"],input[type="button"] { 
	cursor:pointer; display:inline-block; padding:($standard-pad/2) ($standard-pad); background:$color-purple-dark;
	color:#fff; font-size:$font-paragraph-size; font-family:$font-paragraph; 
	@include transition(all 0.1s ease-in); border:none; @include border-radius(3px);
}
.btn:hover,
input[type="submit"]:hover,input[type="button"]:hover {
	opacity:0.8; text-decoration:none;
}

.gform_wrapper .gform_footer { text-align:center; }






/* Blocks
#################################################################################################### */

#header { 
	position:fixed; z-index:10; top:0; left:0; width:100%; height:($standard-pad*4); background:#fff; 
	.inner-wrap { text-align:center; }
	#primary-navigation {
		li { display:inline-block; }
		a { display:inline-block; padding:0 ($standard-pad); line-height:($standard-pad*4); @include transition(all 0.1s ease-in) }
		a:hover { background:$color-gray-light; }
	}
}
#footer {
	padding:($standard-pad*2) 0;
	.inner-wrap { text-align:center; }
	a { color:$color-tan; }
}






/* General Links
#################################################################################################### */


/* Main Navigation Links */
#primary-navigation {
	a { text-decoration:none; }
	.current-menu-item a, a:hover {}
}


/* footer-navigation */
#footer-navigation {
	a {}
	li { display:inline; padding:0 6px 0 0; margin:0 4px 0 0; }
}


/* Navigation */
.navigation-post {
	display:block; clear:both; text-align:left; padding:3px 7px;
	.prev-post { padding-left:7px; }
	.next-post { padding-right:7px; }
}

.wp-pagenavi {
	a, span { padding:3px 4px; margin:3px; }
}

#navigation-breadcrumb { font-weight:bold; padding-bottom:3px; display:block; clear:both; }
.navigation-posts { font-weight:bold; padding-bottom:3px; display:block; clear:both; text-align:center; }






/* Post, Page & General Loops
#################################################################################################### */

.hentry { position:relative; }
#loop-default {
	padding-bottom:($standard-pad*4);
	.hentry { padding:($standard-pad*4) 0 ($standard-pad*2) 0; }
	.hentry:first-child { padding:0 0 ($standard-pad*2) 0; }
}

.blog, .archive {
	h3 { border-bottom:solid 1px #fff; padding-bottom:$standard-pad; margin-bottom:$standard-pad; }
}



/* Meta Data */
.meta-data { font-style:italic; padding-bottom:$standard-pad; }

.post-comments { padding:0 $standard-pad 0 0; }
.post-date { padding:0 $standard-pad 0 0; }
.read-more-dots { display:none; }



/* Entry - Excerpt */
#loop-default {
	.entry { clear:both; }
	.excerpt { clear:none; padding:0; }
}

a.read_more { text-decoration:underline; font-style:italic; display:block; }

.entry {
	.aligncenter { display:block; margin:0 auto $standard-pad; }
	.alignnone { clear:both; float:none; }
	.alignleft { margin-right:$standard-pad; margin-bottom:3px; }
	.alignright { margin-left:$standard-pad; margin-bottom:3px; }
	img { border:solid 4px #fff; max-width:100% !important; height:auto !important; }
	img.wp-smiley { border:none; margin:0; padding:0; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; }
    p { padding-bottom:($standard-pad*2); }
    blockquote {
		p { padding:0; margin:10px 45px 20px 20px; }
	}
	ol, ul { margin:$standard-pad 0 ($standard-pad*2) 20px; }
	ul { list-style:disc; }
	ol { list-style:decimal; }
	li { padding-bottom:7px; }
	strong {}
	small { font-size:11px; }
	table { line-height:18px; }
	table {
		table td { padding-right:7px; vertical-align:top; }
	}
} /*end .entry */

.excerpt p { padding-bottom:($standard-pad*2); }



/* Gallery Shortcode */
.gallery {
	dl.gallery-item { display:block; float:left; }

	dl dt.gallery-icon {}
	img {}
	.gallery-caption {}
}

.wp-caption {
	max-width:96%; display:block; text-align:center !important; padding:5px; background:#eee;
	p { font-size:11px; line-height:14px; padding:5px 0 7px; }
	img { display:inline; }
	.wp-caption-text {}
}



/* All sitemap style layouts - search, 404, sitemap */
.layout-sitemap .display-list {
	margin:0 2% 20px 0; width:48%; float:left;

	ul { margin:10px 0 0 0; }
	ul ul { margin:0 0 7px 15px; list-style:disc; }
	ul ul.children { padding:0; margin-left:15px; list-style:disc; }

	.site-search { display:block; padding-bottom:10px; }
}






/* Home
#################################################################################################### */

body.home-page {
	#page { padding-top:($standard-pad*4); }
	#page.no-menu { padding-top:0; }
	#home-header {
		color:#fff; padding:($standard-pad*8) 0; text-shadow:0 1px 2px rgba( 0,0,0,0.4 );
		background:no-repeat center top;
		-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
		.inner-wrap { text-align:center; }
		h1, .h5 { color:#fff; }
		.h5 { max-width:$max-width-b; margin:0 auto; }
		.icon-support { display:inline-block; font-size:60px; padding-bottom:$standard-pad; }
		.cover { width:100%; height:100%; position:absolute; top:0; left:0; background:rgba( 0,0,0,0.2 ); }
	}
	.section { 
		padding:($standard-pad*4) 0; 
		h2 { text-align:center; }
		.inner-wrap { max-width:$max-width-b; }
		.call-to-action { display:block; text-align:center; padding-bottom:$standard-pad; }
	}
	.section:nth-child(2n+2) { 
		background:#fff; 
		.spacer {
			color:$color-gray-light;
			.line { background:$color-gray-light; }
			.icon-support { background:#fff; }
		}
		.home-section-image { border-color:$color-gray-light; }
	}
	.circle-left {
		.home-section-image { float:left; }
		.post-wrap { padding-left:180px; }
	}
}






/* Comments */
@import 'comments';
/*Responsive*/
@import 'responsive';